/*GENERAL*/
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

/*UTILITIES*/
.wrapper {
  padding: 20% 10%;
}
.bg-yellow {
  background-color: #fbd43b;
}
.bg-redBullet{
  background-color: #f64552;
}
.bg-grayBullet{
  background-color: #f8f8f8;
}
.bg-gray{
  background-color: #8f8f8f;
}
.bg-grayDark {
  background-color: #212121;
}
.text-white {
  color: #ffffff;
}
.text-gray{
  color: #8f8f8f;
}
.text-center {
  text-align: center;
}
.btn-confirm {
  border-radius: 5px;
  padding: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
}

/*REUSABLE COMPONENTS*/
/*Slide*/
.slide .picture-container img {
  width: 80%;
}

/*Slide Buttons*/
.slide-buttons {
  padding: 1rem 0;
}
.slide-buttons span{
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 0 0.15rem;
  width: 15px;
}

/*Title*/
.title {
  padding: 1rem 0;
}

/*Title*/
.subtitle {
  padding: 1rem 0;
}

/*Instructions*/
.instructions {
  color: #8f8f8f;
  padding: 1rem 0;
}

/*Button Confirm*/
.btn-container {
  padding: 1rem 0;
}

/*Icon Screen*/
.icon-container img {
  width: 50%;
}

/*Input*/
.input-field {
  align-items: center;
  border-bottom: 2px solid;
  display: flex;
}
.input-field .prefix,
.input-field input{
  margin-bottom: 0.5rem;
  margin-left: 2.5%;
}
.input-field i.prefix{
  width: 10%;
}
.input-field label.prefix{
  font-size: 12.5px;
  width: 12.5%;
}
.input-field input{
  font-size: 1.25rem;
}

/*COMPONENTS*/
/*Welcome*/
.welcome .btn-confirm {
  width: 100%;
}

/*Register Phone*/
.register-phone .instructions p {
  font-size: 12.5px;
}
.register-phone .btn-confirm {
  width: 50%;
}
.register-phone .input-field input{
  width: 70%;
}
